.navbar-brand {
    margin-left: 20%;
}
@media only screen and (max-width: 765px) {
    body{
        background-color: #f6EEE8 !important;
    }
    footer{
        background-color: #f6EEE8 !important;
    }
    .navbar-brand{
        margin-left: 0px;
        width: 10px;
    }
    .titulo-contato{
        text-align: center !important;
    }
    .contato{
        align-items: center;
        padding-left: 39% !important;
    }
    .container{
        padding-left: 4%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand{
        margin-left: 0px;
        width: 10px;
    }
    .titulo-contato{
        text-align: center !important;
    }
    .contato{
        align-items: center;
        padding-left: 32% !important;
    }
    .colllapse{
        margin-left: 10% !important;
    }
}



body{
    background-color: #f6EEE8;
}
.card-body{
    text-align: center;
}

#intro {
    background-image: url("../assets/rua-mexico1.jpg");
    height: 100vh;
}

.colllapse {
    margin-left: 30%;
}

.contato{
    padding-left: 30%;
}

/* Resolve problema de espaço em branco do lado direto da tela */
main, section{
    overflow-x: hidden !important;
}
.fixed-top {
    position: sticky !important;
}

/* HOME */

.herod {
    /* background-color:#ffffff; */
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rectangle {
    /* background-color:#ffffff; */
    height: 960px;
    width: 100%;
    padding: 0px;
    border-style: hidden;
    outline: none;
}

.rectangle2 {
    background-color: #e5e5e5;
    height: 960px;
    width: 1680px;
    width: 1680px;
    height: 960px;
}

.thelargestcommunityofphotoenthusiasts {
    /* background-color:#ffffff; */
    height: 160px;
    width: 686px;
    align-self: flex-start;
    left: 144px;
    top: 354px;
    position: absolute;
    padding: 0px;
    border-style: hidden;
    outline: none;
}

.thelargestcommunityofphotoenthusiasts2 {
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    font-size: 56px;
    font-family: Montserrat;
    letter-spacing: -1.5px;
    line-height: 80px;
    border-style: hidden;
    outline: none;
    width: 686px;
}

.button {
    height: 52px;
    width: 192px;
    align-self: flex-start;
    left: 145px;
    top: 554px;
    position: absolute;
    padding: 0px;
    border-style: hidden;
    outline: none;
}

.rectangle22 {
    background-color: #18a0fb;
    height: 52px;
    width: 192px;
    border-radius: 6px;
}

.jointoday {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 17px;
    font-family: Montserrat;
    left: 61.21px;
    top: 15.3px;
    width: 68px;
    height: 21px;
    position: absolute;
    letter-spacing: -1.5px;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

/* CONTATO */

.signupc {
    background-color: #F6F6F6;
    height: 340px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loremipsumdolorsitamet,
consecteturadipiscingelit,
seddoeiusmodtemporincididuntutlabore {
    color: rgba(0, 0, 0, 0.800000011920929);
    text-align: left;
    vertical-align: text-top;
    font-size: 36px;
    font-family: Montserrat;
    align-self: flex-start;
    left: 80px;
    top: 120px;
    position: absolute;
    letter-spacing: -1.5px;
    line-height: 50px;
    border-style: hidden;
    outline: none;
    width: 943px;
    display: flex;
}

.button2 {
    height: 52px;
    width: 192px;
    align-self: flex-start;
    left: 1344px;
    top: 144px;
    position: absolute;
    padding: 0px;
    border-style: hidden;
    outline: none;
}

.rectangle2 {
    background-color: #ffffff;
    height: 52px;
    width: 192px;
    border-radius: 6px;
    border: 1px solid #18a0fb;
}

.contactus {
    color: #18a0fb;
    text-align: center;
    vertical-align: text-middle;
    font-size: 17px;
    font-family: Montserrat;
    left: 50.21px;
    top: 15.3px;
    width: 91px;
    height: 21px;
    position: absolute;
    letter-spacing: -1.5px;
    line-height: auto;
    border-style: hidden;
    outline: none;
}
/* ------------------------- */
/* Serviços */
:root {

    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight2: 400;
    --weight3: 600;
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}


@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.header p {
    margin: 0 auto;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}





